// form styles
.form {}

.form-item {
    margin-bottom: 15px;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        @include transition((border-bottom, color, outline), $animTime, $easeOutExpo);

        border: none;
        border-bottom: 1px solid $border-color;
        font-size: $defaultFontSize;
        font-weight: $light;
        padding: 10px 0;
        width: 100%;

        &:focus {
            border-bottom: 1px solid $black;
            color: $black;
        }

        &:disabled {
            background: none;
            border-bottom: 1px dotted $border-color;

            &:hover,
            &:focus {
                cursor: not-allowed;
            }
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;

        &:focus + label {
            &:before {
                border: 2px solid $black;
            }
        }

        &:checked + label {
            &:before {
                border: 2px solid $black;
            }
        }
    }

    &.-radio-button,
    &.-checkbox {
        label {
            cursor: pointer;
            display: block;
            font-size: $defaultFontSize;
            line-height: 1.3;
            padding-left: 30px;
            position: relative;
            margin-bottom: 10px;
            width: 100%;

            &:before {
                @include transition((border, background), $animTime, $easeOutExpo);

                border: 2px solid #6f6f6f;
                content: "";
                display: inline-block;
                height: 18px;
                left: 0;
                position: absolute;
                width: 18px;
            }

            &:after {
                @include transition((border, top, transform), $animTime, $easeOutExpo);

                height: 18px;
                position: absolute;
                margin: auto;
                transform: scale(0);
                width: 18px;
            }
        }
    }

    &.-radio-button {
        label {
            &:before {
                border-radius: 50%;
                margin-right: 18px;
                position: absolute;
            }

            &:after {
                background: transparent;
                border-radius: 50%;
                content: "";
                display: block;
                left: 0;
                top: 0;
            }
        }

        input[type="radio"] {
            &:checked + label {
                &:after {
                    background: $black;
                    transform: scale(0.45);
                }
            }
        }
    }

    &.-checkbox {
        label {
            &:before {
                border-radius: 2px;
            }

            &:after {
                @extend %icomoon;

                color: transparent;
                content: "\e28a";
                display: inline-block;
                font-size: 1em;
                height: 10px;
                left: 1px;
                top: 6px;
                width: 10px;
            }
        }

        input[type="checkbox"] {
            &:checked + label {
                &:before {
                    background: $black;
                }

                &:after {
                    color: $white;
                    top: 0;
                    transform: scale(1);
                }
            }
        }
    }
}
