/* =======================================================================
Layout
========================================================================== */
#main {
    margin-top: 45px;
    position: relative;

    @include desktop {
        margin-top: 90px;
    }
}

.offline {
    height: calc(100vh - 91px);
    text-align: center;

    @include mobile {
        height: calc(100vh - 45px);
    }

    svg {
        width: 100px;
    }

    .container {
        .wrap {
            @include centering-the-unknown;
        }
    }
}

.skip-links {
    position: absolute;
    z-index: 99;
    background-color: #fff;
}

.backstretch {
    background-color: $grey;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cta {
    @include transition(all, $animTime, $easeOutExpo);

    background: $black;
    border: 0;
    border-radius: 3px;
    color: $white;
    font-size: $defaultFontSize;
    padding: 10px;
    text-decoration: none;
    width: auto;

    &:hover {
        background: lighten( $black, 10%);
    }

    &.disabled {
        background: lighten( $grey, 30%);
        color: lighten( $grey, 10%);
        cursor: not-allowed;
    }

    svg.ripple circle {
        fill: $white;
    }

    @include tablet {
        width: auto;
    }
}

svg.ripple {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    circle {
        fill: $white;
        opacity: 0;
    }
}
