@mixin transition($type, $duration, $easing) {
    transition-property: $type;
    transition-duration: $duration;
    transition-timing-function: $easing;
}

@mixin background-gradient($color1, $color2, $direction) {
    background: $color2;
    background-repeat: repeat-x;

    @if $direction == vertical {
        background: linear-gradient(to bottom, $color1 0%, $color2 100%);
    } @else if $direction == diagonal {
        background: linear-gradient(to bottom right, $color1, $color2);
    } @else if $direction == horizontal {
        background: linear-gradient(to right, $color1, $color2);
    }
}

@mixin clearfix() {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after { clear: both; }
}

@mixin normalise-list() {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin sprite($x, $y, $h, $w) {
    background: transparent url('../images/sprite.png') no-repeat $x $y;
    height: $h;
    width: $w;
}

// Absolute Center
@mixin absolute-center() {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

@mixin centering-the-unknown() {
    transform: translate(-50%,-50%);
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    width: 50%;
}

@mixin vertically-centering-the-unknown() {
    transform: translate(0,-50%);
    position: absolute;
    top: 50%;
}