mixin banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.__title = spec.__title || 'Standard Content'

  header.banner.backstretch.lazy(data-original='//placehold.it/1600x768')
    .container
        h2!= spec.__title