// Normalize Styles
@import "node_modules/normalize.css/normalize";

// Import all needed help
@import 'common/_variables';
@import 'common/_mixin';
@import 'common/_material-mixin';
@import 'common/_helpers';
@import 'common/_fonts';
@import 'common/_base';
@import 'common/_grid';
@import 'common/_material-design';

// Import Modules
@import "../_modules/link/link";
@import "../_modules/standard-banner/standard-banner";
@import "../_modules/primary-nav/primary-nav";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.skip-links {
    position: absolute;
    z-index: 99;
    background-color: #fff;
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}