// header styles
.header {
    @include material-shadow(1);

    background: $black;
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @include tablet {
        @include transition(top, 1s, $easeOutExpo);

        .top-nav {
            ul { padding-right: 0; }
        }
    }

    @include desktop {
        height: auto;

        &.hide { top: -105px !important; }
    }
}

.logo {
    @extend .container;

    padding-bottom: 8px;
    padding-top: 8px;
    position: absolute;
    z-index: 5;

    @include desktop {
        padding-bottom: 15px;
        padding-top: 15px;
    }

    a {
        @extend h1;

        color: $white;
        text-decoration: none;
    }

    .container {
        padding: 0;

        @include desktop {
            padding: 0 $gutter;
        }
    }

    @include desktop {
        position: relative;
    }
}

.menu {
    @include transition(background-color, $animTime, $easeOutExpo);

    background-color: transparent;
    border: 0;
    height: 45px;
    padding: 8px;
    width: 45px;
    position: absolute;
    right: 0;
    z-index: 10;

    &.active {
        background-color: $white;
        z-index: 30;

        .top {
            background-color: $black;
            transform: translateY(4px) rotate(225deg);
        }

        .bot {
            background-color: $black;
            transform: translateY(-4px) rotate(-225deg);
        }

        .mid {
            opacity: 0;
        }
    }

    .line {
        @include transition(all, $animTime, $easeOutExpo);

        background: $white;
        display: block;
        height: 2px;
        margin: 2px auto;
        opacity: 1;
        position: relative;
        top: 0;
        transform: none;
        will-change: transform;
        width: 15px;
    }

    @include desktop {
        display: none;
    }
}

.sub-nav {
    background: none;
    border: 0;
    color: $white;
    display: block;
    height: 45px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    z-index: 5;

    &.icon-arrow {
        &:before,
        &:after {
            @include transition(all, $animTime, $easeOutExpo);

            background: $grey;
            content: "";
            display: block;
            height: 8px;
            position: absolute;
            margin: auto;
            top: 20px;
            width: 2px;
        }

        &:before {
            left: 19px;
            transform: rotate(-45deg);
        }

        &:after {
            right: 19px;
            transform: rotate(45deg);
        }

        &.active {
            &:before {
                transform: rotate(-135deg);
            }

            &:after {
                transform: rotate(135deg);
            }
        }
    }
}
