extends ../../_layouts/base

include ../../_modules/banner/banner
include ../../_modules/breadcrumbs/breadcrumbs

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'

block content
    +banner({"__title": "Grid"})

    +breadcrumbs({
        "content": [
            {
                "label": "Grid",
                "href": null
            }
        ]
    })

    section.section.grid
        .container
            .wrap
                .col-12
                    h2 Standard Column Grid

                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1
                .col-1
                    p .col-1

                .col-2
                    p .col-2
                .col-2
                    p .col-2
                .col-2
                    p .col-2
                .col-2
                    p .col-2
                .col-2
                    p .col-2
                .col-2
                    p .col-2

                .col-3
                    p .col-3
                .col-3
                    p .col-3
                .col-3
                    p .col-3
                .col-3
                    p .col-3

                .col-4
                    p .col-4
                .col-4
                    p .col-4
                .col-4
                    p .col-4

                .col-6
                    p .col-6
                .col-6
                    p .col-6

                .col-12
                    p .col-12

            .wrap
                .col-12
                    h2 Nested Column Grid

                .col-6
                    p Parent: .col-6
                    .wrap
                        .col-4
                            p Child: .col-4
                        .col-4
                            p Child: .col-4
                        .col-4
                            p Child: .col-4
                .col-6
                    p Parent: .col-6

                    .wrap
                        .col-4
                            p Child: .col-4
                        .col-4
                            p Child: .col-4
                        .col-4
                            p Child: .col-4

