include ../../molecules/navigation/navigation

mixin header(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    header.header
        .logo
            .container
                h1
                    a(href="/")|firestarter

        button.menu.js-mobile-menu(name='Menu')
            span.line.top
            span.line.mid
            span.line.bot

        +navigation()
