include ../../molecules/navigation/navigation

mixin header(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    header.header
        .logo
            .container
                h1
                    a(href="/")|firestarter
        +navigation()
