extends ../../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'

block content
    section.container
        h2 Oops!

        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='320px', height='86.395px', viewbox='-148 -31.197 320 86.395', enable-background='new -148 -31.197 320 86.395', xml:space='preserve')
            path(d='M172,12.004c0-4.17-3.376-7.539-7.555-7.547l-49.414,0.008c-1.526-8.681-5.612-16.667-11.965-23.011 c-8.156-8.156-19.01-12.651-30.543-12.643l-30.111-0.008c-2.004-0.007-3.932,0.787-5.334,2.205c-1.419,1.411-2.205,3.33-2.205,5.334 v71.3c0,2.097,0.833,3.978,2.205,5.351c1.356,1.356,3.253,2.204,5.334,2.204h30.111c21.23,0,38.915-15.433,42.492-35.661 l49.445,0.008C168.624,19.551,172,16.175,172,12.004z M72.523,40.119H49.952v-56.237l22.571,0.008 c7.509-0.008,14.57,2.914,19.89,8.225c5.304,5.312,8.233,12.373,8.233,19.889C100.631,27.507,88.019,40.104,72.523,40.119z')
            path(d='M9.271,21.217l-23.32,0.015V2.784l23.32-0.008c4.171,0.008,7.539-3.369,7.539-7.539c0-4.155-3.368-7.532-7.539-7.54 l-23.32,0.008v-11.363c0-4.163-3.376-7.54-7.539-7.54h-30.104c-21.238-0.007-38.915,15.418-42.492,35.654l-46.269-0.008 C-144.631,4.465-148,7.833-148,11.997c-0.008,2.089,0.84,3.978,2.205,5.342c1.357,1.364,3.253,2.205,5.343,2.205h46.246 c1.519,8.672,5.604,16.658,11.957,23.011c8.164,8.156,19.01,12.643,30.559,12.643h30.104c4.163,0,7.539-3.376,7.539-7.539V36.311 h23.32c4.171,0,7.539-3.377,7.547-7.539C16.811,24.608,13.442,21.217,9.271,21.217z M-51.691,40.104 c-7.509,0-14.578-2.914-19.889-8.233c-5.304-5.304-8.233-12.365-8.226-19.881c-0.016-15.495,12.604-28.107,28.107-28.107 l22.58-0.016l-0.016,56.253L-51.691,40.104z')

        p You will need to an internet connection to know the bus times and other features.