mixin app-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  #app-banner
    p To add this web app to the home screen: tap!{' '}
      span.icon.icon-safari-options
      |!{' '}and then!{' '}
      strong Add to Home screen
      |.

    button.btn.js-dismiss(type='button') Got it!