/* =======================================================================
Global
========================================================================== */
// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font: 62.5%/1.618 sans-serif;
    font-family:
/* 1 */ -apple-system, BlinkMacSystemFont,
/* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
/* 3 */ "Helvetica Neue", sans-serif;
    margin: 0 !important;

    @include tablet {
        font-family: 'HelveticaNeue';
    }
}

h1, h2, h3, h4, h5, h6,
address {
    word-break: break-word;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;

    a {
        font-size: 1em;
    }
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.4em;
}

h4 {
    font-size: 2.2em;
}

h5 {
    font-size: 2em;
    font-style: italic;
}

h6 {
    font-size: 1.8em;
    font-style: italic;
}

menu, ol, ul {
    margin-bottom: 20px;
    padding: 0 0 0 40px;

    li {
        font-size: $defaultFontSize;

        li {
            font-size: 1em;
        }

        a {
            font-size: 1em;
        }
    }
}

ol, ul {
    margin: auto;
}

dl {
    font-size: $defaultFontSize;
}

table {
    background-color: transparent;
    border: 1px solid $grey;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;

    tr:nth-child(even) {
        background: lighten( $grey, 25%);
    }

    th, td {
        padding: 5px 10px;
        vertical-align: top;
    }

    th {
        background: darken( $grey, 10% );
        color: $white;
        font-size: 1.8em;
        text-align: left;
    }

    td {
        font-size: $defaultFontSize;
    }

    p, a {
        font-size: 1em;
    }
}

img {
    display: block;
    height: auto;
    margin: 0 auto 10px;
    max-width: 100%;
    width: 100%;

    @include tablet {
        margin: 0 0 10px;
        width: auto;
    }
}

address {
    font-size: $defaultFontSize;
    margin: 0 0 10px;
    word-break: break-word;
}

blockquote {
    font-size: 1.8em;
    font-weight: $light;
    line-height: 1.25;
}

p {
    font-size: $defaultFontSize;
    word-break: break-word;

    a {
        font-size: 1em;
    }
}

a {
    color: $black;
    font-size: $defaultFontSize;
    margin-bottom: 10px;
}

hr {
    margin: 40px 0;
}

::-ms-clear {
    height: 22px;
    width: 22px;
}

::-webkit-input-placeholder { /* Chrome */
    color: #a9a9a9;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #a9a9a9;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #a9a9a9;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: #a9a9a9;
    opacity: 1;
}