@mixin material-btn {
    @include transition(background, $animTime, $easeOutExpo);

    background: $black;
    border: 0;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    font-size: $defaultFontSize;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
    width: auto;

    &:hover,
    &:focus {
        background: lighten($black, 25%);
    }

    &:focus {
        outline: 2px dotted $black;
    }

    &:disabled {
        background: lighten($grey, 30%);
        color: lighten($grey, 10%);
        cursor: not-allowed;
    }

    svg.ripple circle {
        fill: $white;
    }
}

@mixin material-shadow($ind) {
    @if $ind == 0 {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    @else if $ind == 1 {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    }
    @else if $ind == 2 {
        box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
    }
    @else if $ind == 3 {
        box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
    }
    @else if $ind == 4 {
        box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
    }
    @else if $ind == 5 {
        box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
}
