// material styles
@mixin material-btn {
    @include transition(background, $animTime, $easeOutExpo);

    background: $black;
    border: 0;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    font-size: $defaultFontSize;
    overflow: hidden;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
    width: auto;

    &:hover,
    &:focus {
        background: lighten($black, 25%);
    }

    &:focus {
        outline: 2px dotted $black;
    }

    &:disabled {
        background: lighten($grey, 30%);
        color: lighten($grey, 10%);
        cursor: not-allowed;
    }

    svg.ripple circle {
        fill: $white;
    }
}

@mixin material-shadow($ind) {
    @if $ind == 0 {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    @else if $ind == 1 {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    @else if $ind == 2 {
        box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
    }
    @else if $ind == 3 {
        box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
    }
    @else if $ind == 4 {
        box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
    }
    @else if $ind == 5 {
        box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
}

// Buttons
.btn {
    @include material-btn;
}

svg.ripple {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    circle {
        fill: $white;
        opacity: 0;
    }
}

// Cards
.card {
    @include transition((opacity, top), 1s, $easeOutExpo);

    opacity: 0;
    position: relative;
    top: 150px;

    &.-show {
        opacity: 1;
        top: 0;
    }

    &.-up {
        top: -150px;
    }

    &__wrapper {
        @include material-shadow(1);

        background: $white;
        border-radius: 2px;
        min-height: 100px;
        padding: 15px 20px;
    }

    @include tablet {
        margin-bottom: 30px;
    }
}

// Shadows
.shadow-z0 {
    @include material-shadow(0);
}

.shadow-z1 {
    @include material-shadow(1);
}

.shadow-z2 {
    @include material-shadow(2);
}

.shadow-z3 {
    @include material-shadow(3);
}

.shadow-z4 {
    @include material-shadow(4);
}

.shadow-z5 {
    @include material-shadow(5);
}

// Toaster
.toaster {
    &__wrap {
        bottom: 25px;
        left: 25px;
        max-width: 440px;
        position: fixed;
        width: 100%;
        z-index: 25;

        @include mobile {
            max-width: 260px;
        }
    }

    &__card {
        @include material-shadow(1);

        background: #323232;
        border-radius: 2px;
        color: $white;
        margin-bottom: 10px;
        opacity: 0;
        padding: 15px 24px;
        padding-right: 50px;
        transform: scale(0.75);
        transform-origin: left bottom;

        &:only-child,
        &:last-child {
            margin-bottom: 0;
        }

        &.-refresh {
            padding-right: 135px;
        }

        p {
            margin: 0;
        }

        button {
            @include absolute-center;

            background: none;
            border: 0;
            color: $white;
            cursor: pointer;
            height: 20px;
            left: auto;
            padding: 0;
            right: 10px;
            width: 20px;
        }

        .btn-refresh {
            color: $yellow;
            font-size: 1.3em;
            right: 50px;
            width: auto;
        }

        .icon {
            display: block;
            font-size: 20px;
        }
    }
}

.-floating-input {
    position: relative;

    &.focus {
        label {
            color: $black;
            font-size: 1em;
            top: -10px;
        }

        .hint {
            opacity: 1;
            top: 0;
        }
    }

    label {
        @include transition((color, font-size, top), $animTime, $easeOutExpo);

        font-size: $defaultFontSize;
        position: absolute;
        top: 8px;
    }

    .hint {
        @include transition((opacity, top), $animTime, $easeOutExpo);

        display: block;
        opacity: 0;
        padding: 5px 0;
        position: relative;
        top: -5px;
        width: 100%;
    }
}

// Select
select {
    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid $border-color;
    font-size: $defaultFontSize;
    height: 35px;
    padding: 10px 0;
    width: 100%;
}

// Loader
.loader {
    @include material-shadow(1);

    background: $white;
    border-radius: 50%;
    height: 50px;
    position: relative;
    width: 50px;

    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .circular {
        @include absolute-center;

        animation: rotate 2s linear infinite;
        height: 75%;
        margin: auto;
        transform-origin: center center;
        width: 75%;
    }

    .path {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
    }
}

// Keyframe animations
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

@keyframes color {
    100%, 0% {
        stroke: $black;
    }

    // 40%{
    //     stroke: $red;
    // }

    // 66%{
    //     stroke: $green;
    // }

    // 80%, 90%{
    //     stroke: $yellow;
    // }
}
