mixin standard-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.__title = spec.__title || 'Standard Content'

  header.standard-banner.backstretch.lazy(data-original='/assets/firestarter/images/temp/background.jpg')
    .container
      .wrap
        h1!= spec.__title