extends _layouts/base

block content
    section.section
        .container
            .wrap
                .col-12
                    article
                        h1
                            a#Firestarter_readme_0
                            | Firestarter readme
                        p Generated on using!{' '}
                            a(href='https://github.com/larsonjj/generator-yeogurt')  generator-yeogurt@2.0.0
                        h2
                            a#Description_5
                            | Description
                        p  A simple out of the box front-end templating base used for building new websites created and maintained by Nino Ross Rodriguez. Firestarter is not to compete with other frameworks, but more on to provide a very easy and structured framework for any developer to use.
                        h2
                            a#Technologies_used_10
                            | Technologies used
                        p JavaScript
                        ul
                            li
                                a(href='http://browserify.org/') Browserify
                                |  with ES6/2015 support through
                                a(href='https://babeljs.io/')  Babel
                            li
                                a(href='https://nodejs.org/') Node
                        p Testing
                        ul
                            li
                                a(href='http://karma-runner.github.io/0.13/index.html') Karma
                            li
                                a(href='http://jasmine.github.io/') Jasmine
                        p Styles
                        ul
                            li
                                a(href='http://sass-lang.com/') Sass
                                |  via (
                                a(href='https://github.com/sass/node-sass') node-sass
                                | )
                        p Markup
                        ul
                            li
                                a(href='http://jade-lang.com/') Jade
                        p Optimization
                        ul
                            li
                                a(href='https://github.com/imagemin/imagemin') Imagemin
                            li
                                a(href='https://github.com/mishoo/UglifyJS') Uglify
                        p Server
                        ul
                            li
                                a(href='http://www.browsersync.io/') BrowserSync
                        p Linting
                        ul
                            li
                                a(href='http://eslint.org/') ESlint
                        p Automation
                        ul
                            li
                                a(href='http://gulpjs.com') Gulp
                        p Code  Management
                        ul
                            li
                                a(href='http://editorconfig.org/') Editorconfig
                            li
                                a(href='https://git-scm.com/') Git
                        h2
                            a#Automated_tasks_44
                            | Automated tasks
                        p This project uses
                            a  to run automated tasks for development and production builds.
                            | The tasks are as follows:
                        p
                            code  gulp --production
                            | : Same as
                            code  gulp serve --production
                            |  also run
                            code  gulp test
                            |  and  not boot up production server
                        p
                            code  gulp serve
                            | : Compiles preprocessors and boots up development server
                            code  gulp serve --open
                            | : Same as
                            code  gulp serve
                            |  but will also open up site/app in your default browser
                            code  gulp serve --production
                            | : Same as
                            code  gulp serve
                            |  but will run all production tasks so you can view the site/app in it’s final optimized form
                        p
                            code  gulp test
                            | : Lints all
                            code  *.js
                            |  file in the
                            code  source
                            |  folder using eslint and runs all
                            code  *.test.js
                            |  file unit tests through
                            a(href='http://karma-runner.github.io/0.13/index.html')  Karma
                            |  and Jasmine
                            code  gulp test --watch
                            | : Same as
                            code  gulp test
                            |  but will constantly watch
                            code  *.test.js
                            |  files and rerun tests when changes are detected
                        p
                            strong
                                em
                                    | Adding the
                                    code  --debug
                                    |  option to any gulp task displays extra debugging information (ex. data being loaded into your templates)

