mixin primary-nav(spec)
  - spec = spec || {}

  #primary-nav
    nav.nav
      ul.lvl1
        - var primarynav = site.data.primarynav

        each lvl1, index in primarynav
          - var primarynavLvl2 = lvl1.lvl2
            li
              if lvl1.link == '#'
                a.no-link(href='#')=lvl1.label
                if primarynavLvl2 != null
                  ul.lvl2
                    each lvl2, index in primarynavLvl2
                      li
                        a(href=lvl2.link)=lvl2.label
              else
                a(href=lvl1.link)=lvl1.label
                if primarynavLvl2 != null
                  ul.lvl2
                    each lvl2, index in primarynavLvl2
                      li
                        a(href=lvl2.link)=lvl2.label

        //- li
        //-   a(href='/standard/') Standard Content
        //- li
        //-   a(href='/grid/') Grid System
        //- li
        //-   a(href='/material-design/') Material Design
        //- li
        //-   a.no-link(href='#') Dropdown Level 1
        //-   ul.lvl2
        //-     li
        //-       a(href='#go-to-some-link') Dropdown Level 2
        //-       ul.lvl3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-     li
        //-       a(href='#go-to-some-link') Dropdown Level 2
        //-       ul.lvl3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-     li
        //-       a(href='#go-to-some-link') Dropdown Level 2
        //-       ul.lvl3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-     li
        //-       a(href='#go-to-some-link') Dropdown Level 2
        //-       ul.lvl3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
        //-         li
        //-           a(href='#') Dropdown Level 3
