// primary-nav styles
#primary-nav {
    @extend %clearfix;
    @include transition( height, 0.5s, $easeOutExpo );

    height: 45px;
    position: absolute;
    right: 0;
    top: 45px;;
    width: 100%;
    z-index: 5;

    @include desktop {
        background: $red;
        height: auto;
        position: static;
        width: 100%;

        .sub-nav,
        .lvl2,
        .lvl3 {
            display: none;
        }
    }

    &.active {
        z-index: 25;
    }

    ul {
        @extend %clearfix;

        background: $white;
        margin: 0 $gutter;
        margin-bottom: 0;
        overflow: hidden;
        padding: 0;

        & > li {
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    -webkit-transition-delay: 0.1s * $i, 0.1s * $i;
                            transition-delay: 0.1s * $i, 0.1s * $i;
                }
            }
        }

        li {
            @include transition(all, 0.75s, $easeOutExpo);

            -webkit-transform: translateY(-30px); /* Safari */
                -ms-transform: translateY(-30px); /* IE 9 */
                    transform: translateY(-30px);
            will-change: transform;

            opacity: 0;
            overflow: hidden;
            position: relative;

            @include desktop {
                -webkit-transform: none; /* Safari */
                    -ms-transform: none; /* IE 9 */
                        transform: none;

                opacity: 1;
            }
        }

        a {
            color: $black;
            display: block;
            font-size: 1em;
            margin-bottom: 0;
            overflow: hidden;
            padding: 10px;
            position: relative;
            width: 100%;

            &.active {
                background: $red;
            }

            span {
                position: relative;
                z-index: 5;
            }

            @include desktop {
                color: $white;
            }
        }
    }

    .nav {
        @extend %clearfix;

        height: 0;
        width: 100%;

        &:after {
            @include transition(opacity, 0.5s, $easeOutExpo);

            background: rgba(0, 0, 0, 0.5);
            content: '';
            height: inherit;
            left: 0;
            opacity: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 5;
        }

        &.active {
            height: 100%;

            &:after {
                opacity: 1;
            }
        }

        @include desktop {
            height: auto;
            margin: auto;
            max-width: 960px;
        }
    }

    .container {
        float: none;
        padding: 56px 10px 0;
    }

    .lvl2,
    .lvl3 {
        display: none;
        margin: 0;

        &.active {
            & > li {
                -webkit-transform: none; /* Safari */
                    -ms-transform: none; /* IE 9 */
                        transform: none;

                opacity: 1;
            }
        }

        a {
            border-bottom: 0;
            width: 100%;
        }

        .sub-nav {
            &.icon-arrow {
                &:before,
                &:after {
                    background: $white;
                }
            }
        }
    }

    .lvl1 {
        @include transition(all, 0.5s, $easeOutExpo);
        @include material-shadow(0);

        -webkit-transform: translateX(100%); /* Safari */
            -ms-transform: translateX(100%); /* IE 9 */
                transform: translateX(100%);
              will-change: transform;

        clear: both;
        float: right;
        list-style: none;
        margin: 0;
        max-width: 300px;
        overflow: auto;
        padding: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 10;

        @include desktop {
            -webkit-transform: none; /* Safari */
                -ms-transform: none; /* IE 9 */
                    transform: none;

            float: none;
            max-width: none;
        }

        &.active {
            @include material-shadow(2);

            -webkit-transform: none; /* Safari */
                -ms-transform: none; /* IE 9 */
                    transform: none;

            & > li {
                -webkit-transform: none; /* Safari */
                    -ms-transform: none; /* IE 9 */
                        transform: none;

                opacity: 1;
            }
        }

        & > li {
            border-bottom: 1px solid $grey;

            @include desktop {
                border-bottom: 0;
                overflow: visible;
            }
        }

        a {
            padding: 10px $gutter;

            &.active { background: $red; }
        }

        @include desktop {
            background: none;
            height: auto !important;
            overflow: visible;

            &:first-child {
                & > a {
                    padding-left: 0;
                }
            }

            & > li {
                border-top: 0;
                float: left;
            }
        }
    }

    .lvl2 {
        background: darken( $grey, 10%);

        li {
            border-top: 1px solid darken( $grey, 20%);
        }

        a {
            color: $white;
            padding: 12px 20px 12px 30px;
        }

        @include desktop {
            background: darken( $red, 10%);
            position: absolute;
            width: 200px;

            li {
                border-top: 1px solid darken( $red, 20%);
            }
        }
    }

    .lvl3 {
        background: darken( $grey, 20%);

        li {
            border-top: 1px solid darken( $grey, 30%);
        }

        a {
            color: $white;
            padding: 12px 20px 12px 40px;
        }
    }
}

.header {
    @include material-shadow(1);

    background: darken( $red, 10% );
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @include tablet {
        @include transition( top, 1s, $easeOutExpo );

        .top-nav {
            ul { padding-right: 0; }
        }
    }

    @include desktop {
        height: auto;

        &.hide { top: -92px !important; }

        &.compact {
            &.hide { top: -45px !important; }
        }
    }
}

.logo {
    padding: 8px $gutter;
    position: absolute;
    z-index: 25;

    h1 {
        margin: 0;
    }

    a {
        font-size: 0.8em;
        color: $white;
    }

    .container {
        padding: 0;

        @include desktop {
            padding: 0 $gutter;
        }
    }

    @include desktop {
        position: relative;
    }
}

.sub-nav {
    background: none;
    border: 0;
    color: $white;
    display: block;
    height: 45px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    z-index: 5;

    &.icon-arrow {
        &:before,
        &:after {
            @include transition( all, 0.5s, $easeOutExpo );

            background: $grey;
            content: "";
            display: block;
            height: 8px;
            position: absolute;
            margin: auto;
            top: 20px;
            width: 2px;
        }

        &:before {
            @include rotate(-45deg);

            left: 19px;
        }

        &:after {
            @include rotate(45deg);

            right: 19px;
        }

        &.active {
            &:before {
                @include rotate(-135deg);
            }
            &:after {
                @include rotate(135deg);
            }
        }
    }
}

.menu {
    @include transition(background-color, 0.5s, $easeOutExpo);

    background-color: transparent;
    border: 0;
    height: 45px;
    padding: 8px;
    width: 45px;
    position: absolute;
    right: 0;
    z-index: 10;

    &.active {
        background-color: $white;
        z-index: 30;

        .top {
            -webkit-transform: translateY(4px) rotate(225deg); /* Safari */
                -ms-transform: translateY(4px) rotate(225deg); /* IE 9 */
                    transform: translateY(4px) rotate(225deg);

            background-color: $black;
        }

        .bot {
            -webkit-transform: translateY(-4px) rotate(-225deg); /* Safari */
                -ms-transform: translateY(-4px) rotate(-225deg); /* IE 9 */
                    transform: translateY(-4px) rotate(-225deg);

            background-color: $black;
        }

        .mid {
            opacity: 0;
        }
    }

    .line {
        @include transition( all, 0.5s, $easeOutExpo );

        -webkit-transform: none; /* Safari */
            -ms-transform: none; /* IE 9 */
                transform: none;
        will-change: transform;

        background: $white;
        display: block;
        height: 2px;
        margin: 2px auto;
        opacity: 1;
        position: relative;
        top: 0;
        width: 15px;
    }

    @include desktop {
        display: none;
    }
}