#primary-nav {
    background: $red;
    position: static;
    width: 100%;

    & > .nav {
        height: 100%;
        margin: auto;
        max-width: 960px;
    }

    .menu,
    .sub-nav,
    .lvl2,
    .lvl3 {
        display: none;
    }

    .lvl1 {
        @include scale(1);

        background: none;
        height: auto !important;
        opacity: 1;
        visibility: visible;

        &:first-child {
            & > a {
                padding-left: 0;
            }
        }

        & > li {
            border-top: 0;
            float: left;
            opacity: 1;
            top: 0;
        }
    }
}

.header {
    &.hide { top: -92px !important; }

    &.compact {
        &.hide { top: -46px !important; }
    }
}

.logo {
    position: static;

    h1 {
        margin-left: $gutter;
    }
}
